<div id="main">
    <img src="../../../assets/PeopleSync.png" class="peopleSync-ico">
    <h3>USUARIO</h3>
    <input type="text" pInputText [(ngModel)]="user" (keydown.enter)="login()" />
    <h3>CONTRASEÑA</h3>
    <p-password [(ngModel)]="password" [feedback]="false" (keydown.enter)="login()"></p-password>
    <div class="botonesRegistro">
        <p-button severity="secondary" label="Login" (onClick)="login()"></p-button>
        <p-button label="Registro" (onClick)="irRegistro()"></p-button>
    </div>
</div>

<p-toast></p-toast>