<div id="main">
    <img src="../../../assets/PeopleSync.png" class="peopleSync-ico">
    <h3>USUARIO</h3>
    <input type="text" pInputText [(ngModel)]="username" (keydown.enter)="registrarse()" />
    <h3>EMAIL</h3>
    <input type="text" pInputText [(ngModel)]="mail" (keydown.enter)="registrarse()" />
    <h3>CONTRASEÑA</h3>
    <p-password [(ngModel)]="password" [feedback]="false" (keydown.enter)="registrarse()"></p-password>
    <h3>RE CONTRASEÑA</h3>
    <p-password [(ngModel)]="repassword" [feedback]="false" (keydown.enter)="registrarse()"></p-password>
    <div class="botonesRegistro">
        <p-button severity="secondary" label="Registrarse" (onClick)="registrarse()"></p-button>
        <p-button label="Volver" (onClick)="irLogin()"></p-button>
    </div>
</div>
<p-toast></p-toast>