.header{
    width: 100%;
    height: 100px;
    background-color: #EFBC9B;
    padding: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    i{
        margin: 25px;
        padding: 15px;
        font-size: 30px;
        background-color: #FBF3D5;
        border-radius: 50%;
        cursor: pointer;
    }

    i:hover{
        background-color: #f8eab6;
    }
    i:active{
        background-color: #f5dc83;
    }
}

.header-switch{
    padding: 10px;
}

.content {
    height: 87.8vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.content-user, .content-foto{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: start;
    width: 30%;
    margin: 30px;
}

.content-user{
    background-color: #FBF3D5;
    border: 1px grey solid;
    height: fit-content;
    border-radius: 15px;
    padding: 25px;
}

.content-user div div, .content-foto div *{
    margin:15px;
}

:host ::ng-deep .p-inputswitch.p-inputswitch-checked:not(.p-disabled) .p-inputswitch-slider{
    background-color: #FBF3D5;
}

:host ::ng-deep .p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider{
    background-color: rgb(247, 230, 169);
}

.foto{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.background{
    background-image: url("../../../assets/PeopleSync.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
    z-index: -3;
}