.header{
    width: 100%;
    height: 100px;
    background-color: #EFBC9B;
    position: fixed;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    i{
        margin: 25px;
        padding: 15px;
        font-size: 30px;
        background-color: #FBF3D5;
        border-radius: 50%;
        cursor: pointer;
    }

    i:hover{
        background-color: #f8eab6;
    }
    i:active{
        background-color: #f5dc83;
    }
}
.content{
    overflow: auto;
    overflow-x: hidden;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 95%;
    position: absolute;
    background-color: #FBF3D5;
    top:120px;
    bottom: 110px;
    left: 0;
    right: 0;
    margin: auto;

    border: 1px solid grey;
}

.chat-tools{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    height: 100px;
    width: 100%;
    bottom: 5px;
    justify-content: center;
    .textarea{
        width: auto;
        margin:0 10px 0 30px;
    }
    .tool-icon{
        font-size: 35px;
        background-color: #9CAFAA;
        margin: 10px;
        padding: 15px;
        border-radius: 50%;
        cursor: pointer;
    }
    .tool-icon:hover{
        background-color: #91ada6;
    }
    .tool-icon:active{
        background-color: #7b9991;
    }
}

.update-chat-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    overflow-y:auto;
}

.message{
    display: flex;
    flex-direction: column;
    min-width: 500px;
    width: fit-content;
    border: 1px solid;
    margin:20px;
    border-radius: 15px;

    background-color: white;
}

.message-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    border-bottom: 1px solid grey;
}

.message-content{
    padding: 10px;
}

.message-other{
    background-color: #D6DAC8;
    float: left;
}

.message-user{
    background-color: white;
    float: right;
}

.header-user{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    img{
        width: 40px;
        height: 40px;
        border-radius: 20px;
        padding: 5px;
    }
}

.image{
    max-width: 700px;
    max-height: 700px;

    img{
        max-width: 700px;
        max-height: 700px;
    }
}

.pdf{
    max-width: 200px;
    max-height: 200px;

    a img{
        max-width: 200px;
        max-height: 200px;
        cursor: pointer;
    }
}